body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 320px;
}

h2 {
    color: #333;
}

h3 {
    margin: 0;
    padding: 15px;
    font-size: 18px;
    color: #333;
    background-color: #e7f3fe;
    border: 1px solid #b3d4fc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

.btn-delete {
    background-color: #f44336;
}

.btn-delete:hover {
    background-color: #e53935;
}

input[type="file"] {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    background-color: #D6D6DA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #45a049;
}

input[type="file"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}
