<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot S3 File Upload</title>
</head>
<body>
    <div align="center">
        <h2>Spring Boot S3 File Upload - Delete</h2>
        <form th:action="@{/delete}" method="post">
            <p>
                File name: <input type="text" name="fileName" size="30" required>
            </p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</body>
</html>
