<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot S3 File Upload</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
    <body>
        <div class="container">
            <h2>Spring Boot S3 File Upload</h2>
            <div>
                <a th:href="@{/upload}" class="btn" target="_blank">Upload</a>
                <a th:href="@{/delete}" class="btn btn-delete" target="_blank">Delete</a>
            </div>
        </div>
    </body>
</html>
