<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot S3 File Upload</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
    <body>
        <div class="container">
            <h2>Spring Boot S3 File Upload</h2>
            <form th:action="@{/upload}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </body>
</html>
